* {
    margin: 0;
    padding: 0;
}

.clr {
    clear: both;
}

#home {
    background: radial-gradient(ellipse at bottom, #669dd3, #f1f7fc);
    animation-name: timecycle;
    animation-duration: 60000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes timecycle {
    0% { background: #d9f0fc;}
    45% { background: #d9f0fc; }
    55% { background: #16324f;}
    100% { background: #16324f;}
}

#home #navbar {
    background: linear-gradient(#237D6C, rgba(0,0,0,0));
}

#home #navbar .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#home #navbar .container .logo img {
    width: 3rem;
    margin: 5px 0 12px 0;
}

/* TURN THE VERTICAL LIST OF LINKS INTO A HORIZONTALLY CENTERED LIST */
#home #navbar .container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#home #navbar .container ul li {
    margin-left: 1rem;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

#home #navbar .container ul li a {
    margin: 0 0 10px 0;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

#home .homespace {
    position: relative;
    overflow: hidden;
}

#home .homespace .clouds {
    position: relative;
}

/* CLOUDS ANIMATION */

#home .homespace .clouds img:nth-child(1){
    position: absolute;
    width: 8rem;
    top: 0rem;
    right: -30%;
    animation-name: cloud1;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-delay: 4s;
    animation-timing-function: linear;
}

@keyframes cloud1 {
    0% {opacity: 0; top: 0rem; right: -30%;}
    9% {opacity: 0;}
    30% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0; top: 0; right: 100%;}
}

#home .homespace .clouds img:nth-child(2){
    position: absolute;
    width: 6rem;
    top: 7rem;
    right: -30%;
    animation-name: cloud2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function: linear;
}

@keyframes cloud2 {
    0% {opacity: 0; top: 7rem; right: -30%;}
    9% {opacity: 0;}
    30% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0; top: 7rem; right: 100%;}
}

#home .homespace .clouds img:nth-child(3){
    position: absolute;
    top: 3rem;
    right: -30%;
    animation-name: cloud3;
    animation-duration: 26s;
    animation-iteration-count: infinite;
    animation-delay: 8s;
    animation-timing-function: linear;
}

@keyframes cloud3 {
    0% {opacity: 0; top: 3rem; right: -30%;}
    9% {opacity: 0;}
    30% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0; top: 3rem; right: 100%;}
}

#home .homespace .clouds img:nth-child(4){
    position: absolute;
    width: 6rem;
    top: 10rem;
    right: -30%;
    animation-name: cloud4;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: linear;
}

@keyframes cloud4 {
    0% {opacity: 0; top: 10rem; right: -30%;}
    9% {opacity: 0;}
    30% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0; top: 10rem; right: 100%;}
}

/* * * * * * * * * * * * * * * * * */

#home .homespace .tandsub {
    position: absolute;
    padding-bottom: 13%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home .homespace .tandsub h1 {
    padding-top: 3rem;
    text-align: center;
    font-family: 'Allison', cursive;
    font-size: 500%;
    color: #5CD8BC;
    text-shadow: 0.1em 0.1em 0.2em lightgoldenrodyellow;
    animation-name: tandsub-shadow1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes tandsub-shadow1 {
    0% { text-shadow: 0.1em 0.1em 0.2em lightgoldenrodyellow;}
    100% { text-shadow: 0em 0em 0em rgba(0,0,0,0);}
}

#home .homespace .tandsub h2 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 0.1em 0.1em 0.2em lightgoldenrodyellow;
    color: #5CD8BC;
    padding-bottom: 5rem;
    box-sizing: border-box;
    animation-name: tandsub-shadow2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes tandsub-shadow2 {
    0% { text-shadow: 0.1em 0.1em 0.2em lightgoldenrodyellow;}
    100% { text-shadow: 0em 0em 0em rgba(0,0,0,0);}
}

#home .homespace .world {
    display: flex;
    position: relative;
    margin: 0;
    width: 100%;
}

/* POSITIONING THE WORLD TO THE BOTTOM CENTER */
#home .homespace .world img {
    align-items: center;
    margin: auto;
    width: 60%;
    position: relative;
    margin-top: 22%;
}

/* * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * */
.about-me {
    background: #669dd3;
    /*background: #d9f0fc;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pagebody {
    background: #669dd3;
    /*background: #d9f0fc;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-me .container {
    background: #d9f0fc;
    margin: 4rem 2rem 0 2rem;
    box-sizing: border-box;
    border-radius: 3rem;
    min-width: 10rem;
    max-width: 60rem;
    transition-property: background;
    transition-duration: 500ms;
}

#last-about {
    margin-bottom: 4rem;
}

.pagebody .container {
    background: #d9f0fc;
    margin: 4rem 2rem 0 2rem;
    box-sizing: border-box;
    border-radius: 3rem;
    min-width: 10rem;
    max-width: 35rem;
    transition-property: background;
    transition-duration: 500ms;
}

.pagebody .container:hover {
    background: white;
}

.about-me .container:hover {
    background: white;
}

.about-me .container #about {
    display: flex;
    justify-content: center;
    padding: 0 auto;
    margin: 2rem auto;
    box-sizing: border-box;
}

.pagebody .container #notes {
    text-align: center;
    max-width: 40rem;
    padding: 0 auto;
    box-sizing: border-box;
}
.pagebody .container #about,
.pagebody .container #work,
.pagebody .container #projects {
    text-align: center;
    padding: 0 auto;
    max-width: 40rem;
    margin: 2rem auto;
    box-sizing: border-box;
}

/* IMAGES * * * * * * * * * * * * * */
.about-me .container #about .img-and-text img {
    margin-top: 2rem;
    width: 30%;
}

.pagebody .container #about .img-and-text img,
.pagebody .container #work img {
    margin-top: 2rem;
    width: 30%;
}

.about-me .container #about .img-and-text h1 {
    font-family: 'Allison', cursive;
    font-size: 500%;
    color: #4AB29C;
}

.pagebody .container #about .img-and-text h1,
.pagebody .container #work h1,
.pagebody .container #projects h1,
.pagebody .container #notes h1 {
    font-family: 'Allison', cursive;
    font-size: 500%;
    color: #4AB29C;
}

.about-me .container #about .img-and-text h2 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #4AB29C;
}

.pagebody .container #about .img-and-text h2,
.pagebody .container #work h2,
.pagebody .container #projects h2,
.pagebody .container #notes h2 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #4AB29C;
}

.about-me .container #about .img-and-text {
    max-width: 60%;
    min-width: 22rem;
    text-align: center;
}

.about-me .container #about .img-and-text p {
    margin: auto 1rem;
    padding-bottom: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: darkslategrey;
}

.pagebody .container #about .img-and-text p,
.pagebody .container #work p,
.pagebody .container #projects p,
.pagebody .container #notes p {
    margin: auto 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: darkslategrey;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    background: #d9f0fc;
}

#contact-me {
    width: 60%;
    margin: 2rem auto 2rem 2rem;
    box-sizing: border-box;
}

#contact-me h1 {
    font-family: 'Allison', cursive;
    font-size: 500%;
    color: #4AB29C;
}

#contact-me ul {
    list-style: none;
    margin-left: 10%;
}

#contact-me li:nth-child(1) {
    list-style-image: url(../images/fb.png);
}

#contact-me li:nth-child(2) {
    list-style-image: url(../images/ig.png);
}

#contact-me li:nth-child(3) {
    list-style-image: url(../images/yt.png);
}

#contact-me li:nth-child(4) {
    list-style-image: url(../images/li.png);
}

#contact-me li a {
    color: darkslategray;
    text-decoration: none;
    font-family: Helvetica, 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

#contact-me li a:hover {
    color: #669dd3;
}

#form-sidebar {
    width: 40%;
    padding: 2rem;
    background: darkslategrey;
    box-sizing: border-box;
    text-align: center;
}

#form-sidebar input[type="text"],
#form-sidebar input[type="email"],
#form-sidebar textarea {
    width: 100%;
    border-radius: 0.3rem;
    border-style: none;
    margin: 0.3rem 0;
    padding: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
}

.button {
    width: 50%;
    border-radius: 0.3rem;
    border-style: none;
    margin: 0.3rem auto;
    padding: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

#main-footer {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-footer p {
    margin: 2rem auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

/* MEDIA QUERY * * * * * * * * * * * * * */
@media (max-width: 600px){
    #navbar {
        display: none;
    }

    .pagebody .container {
        margin: 4rem 0 0 0;
    }

    #home .homespace .world {
        display: flex;
        position: relative;
        margin: 0;
        width: 100%;
    }
    
    /* POSITIONING THE WORLD TO THE BOTTOM CENTER */
    #home .homespace .world img {
        align-items: center;
        margin: auto;
        width: 70%;
        position: relative;
        margin-top: 50%;
    }

    .about-me .container {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
        box-sizing: border-box;
    }

    #contact-me {
        width: 100%;
        float: none;
    }

    #form-sidebar {
        width: 100%;
        float: none;
    }

    .contact-container {
        display: block;
        padding-top: 1rem;
    }

    #contact-me h1 {
        text-align: center;
    }

    h2 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}